conexion-datos.php
conexion-datos-localhost.php
conexion-datos-developer.php
conexion-datos-production.php
main-app/error_log
main-app/*/error_log
main-app/files
main-app/admisiones/bd-conexion.php
main-app/admisiones/files
sensitive.php
.vscode
/vendor
/composer.json
/composer.lock
librerias/Firebase/key
mycoverage
.phpunit.cache
.phpunit.result.cache
config-general/errores_local.log
config-general/errores_dev.log
config-general/errores_prod.log
config-general/errores_copy_prod.log
config-general/errores_default_env.log
.codegpt