.login-container {
    background-image: url('./../../img/bg-login.png');
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 100vw;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    /* background-color: #4553E6; */
    background-image: url('../../img/bg-login-logo.jpg');
    ;
    background-size: cover;
    background-position: center;
}

.logo-container img {
    max-width: 400px;
}

.btn-primary {
    background-color: #4553E6;
    border: #4553E6;
}

.forgot-password,
.register {
    color: #000000;
    text-decoration: none !important;
}

.input-login {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #CFCFCF !important;
    padding: 5px !important;
}

.select2-container--bootstrap-5 .select2-selection--single {
    /* padding: .375rem .75rem .375rem 2.25rem; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px 12px;
    height: calc(3.5rem + 2px) !important;
}



@media (max-width: 575.98px) {
    .login-container {
        grid-template-columns: 100%;
    }

    .logo-container {
        display: none;
    }
}